<h1>NeonRoots's Jukebox</h1>

<h2>Subscribe your bar</h2>

<p>Example Request:</p>
<pre>
  $ curl http://heroku.com/bars \
    -d "name=Amazing Bar"
</pre>

<p>Example Response</p>
<pre>
{
  "id": 1,
  "name": "Amazing Bar",
  "token":"b4212ea6bceda6f1"
}
</pre>
